@use "src/variables.scss" as *;

html {
  height: 100%;

  body {
    margin: 0;
    max-width: $gloki-width;
    height: 100%;
    font-family: $comm-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    #root {
      height: 100%;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Link {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}