@font-face {
    font-family: 'DM Sans';
    src: url('../../../assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.headerContainer {
    position: relative;
    width: 100%;
    height: 200px; /* Single height for the container */
}

.header, .headerOutline {
    width: 100%;
    height: 200px;
    padding: 16px;
    text-align: center;
    position: absolute; /* Change to absolute positioning */
    top: 0;
    left: 0;
    clip-path: polygon(
        100% 29.5%,
        100% 0%,
        0% 0%,
        0% 34%,
        22.22% 40.00%
    );
    display: flex; /* Flexbox to align items */
    align-items: center; /* Vertically center the icons */
    justify-content: space-between; /* Space the items out */
}

.header {
    background-color: white;
    z-index: 1;
}

.headerOutline {
    background-color: #185B98;
    z-index: 0;
    transform: translateY(4px); /* Small offset for outline effect */
}

.iconContainer {
    display: flex;
    align-items:stretch;
    justify-content: space-between;
    transform: translateY(-70px);
    width: 100%;
}
  
.icon {
    height: auto;
}